* {
    box-sizing: border-box;
  }

  body {
    margin: 0;
    font-family: "Lucida Grande";
  }

  a {
    text-decoration: none;
  }

  .clear {
    clear: left;
  }

  .container {
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
    text-align: center;
  }

  .top-wrapper {
    padding: 180px 0 100px 0;
    background-image: url(https://wallpaperplay.com/walls/full/1/d/3/324370.jpg);
    background-size: cover;
    color: black;
    text-align: center;
    font-weight: bold;
    margin-bottom: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }

  .top-wrapper h1 {
    font-size: 45px;
    background-color: rgba(222, 222, 222, 0.5);
    letter-spacing: 5px;
    width: fit-content;
    margin: auto;
    border-radius: 10px;
    margin-bottom: 10px;
  }

  .top-wrapper p {
    background-color: rgba(222, 222, 222, 0.5);
    margin-bottom: 3px;
    width: fit-content;
    margin: auto;
    border-radius: 5px;
  }

  .btn-wrapper {
    text-align: center;
    margin: 20px 0;
  }

  .btn-wrapper p {
    background-color: rgba(222, 222, 222, 0.5);
    margin: 10px 0;
    width: fit-content;
    margin: auto;
    margin-bottom: 10px;
    border-radius: 5px;
  }

  .signup {
    background-color: #239b76;
    cursor: pointer;
    box-shadow: 0 7px #1a7940;
  }

  .signup:active {
    position: relative;
    top: 7px;
    box-shadow: none;
  }

  .facebook {
    background-color: #3b5998;
    margin-right: 10px;
    cursor: pointer;
    box-shadow: 0 7px #113c97;
  }

  .facebook:active {
    position: relative;
    top: 7px;
    box-shadow: none;
  }

  .twitter {
    background-color: #55acee;
    cursor: pointer;
    box-shadow: 0 7px #1b6ead;
  }

  .twitter:active {
    position: relative;
    top: 7px;
    box-shadow: none;
  }

  .btn {
    padding: 12px 24px;
    margin-bottom: 10px;
    color: white;
    display: inline-block;
    opacity: 0.9;
    border-radius: 4px;
    text-align: center;
  }

  .btn:hover {
    opacity: 1;
  }

  .fa {
    margin-right: 5px;
  }

  header {
    height: 65px;
    width: 100%;
    background-color: rgba(222, 222, 222, 0.9);
    position :fixed;
    top: 0;
    z-index: 10;
  }

  .logo {
    width: 120px;
    margin-top: 2px;
  }

  .header-left {
    float: left;
  }

  .header-right {
    float: right;
    margin-right: -25px;
  }

  .header-right a {
    line-height: 65px;
    padding: 0 25px;
    color: black;
    display: block;
    float: left;
    transition: all 0.5s;
  }

  .header-right a:hover {
    background-color: rgba(255, 255, 255, 0.3);
  }

  .menu-icon {
    color: black;
    float: right;
    font-size: 25px;
    padding: 21px 0;
    display: none;
  }


  .lesson-wrapper {
    padding-bottom: 80px;
    padding-left: 5%;
    padding-right: 5%;
    background-color: #00000080;
    text-align: center;
    margin-bottom: 10px;
    border-radius: 10px;
  }

  .heading {
    padding-top: 80px;
    padding-bottom: 50px;
    color: #fff;
  }

  .heading h2 {
    font-weight: normal;
  }

  .komponen {
    width: 200px;
    height: 200px;
    border-radius: 50px;
  }

  .lesson {
    float: left;
    width: 25%;
  }

  .lesson-icon {
    position: relative;
  }

  .lesson-icon p {
    position: absolute;
    top: 38%;
    width: 100%;
    color: white;
    font-weight: bold;
  }

  .lesson-icon .black {
    color: black;
  }

  .text-contents {
    width: 80%;
    display: inline-block;
    margin-top: 15px;
    font-size: 15px;
    color: #fff;
  }

  .heading h3 {
    font-weight: normal;
  }

  .message-wrapper {
    border-bottom: 2px solid #eee;
    padding-bottom: 50px;
    text-align: left;
  }

  .section-title {
    border-bottom: 2px solid #dee7ec;
    font-size: 28px;
    padding-bottom: 15px;
    margin-bottom: 50px;
  }

  input, textarea {
    width: 400px;
    margin-top: 10px;
    margin-bottom: 30px;
    padding: 20px;
    font-size: 18px;
    border: 1px solid #dee7ec;
  }

  .tombol {
    padding: 12px 24px;
    margin: auto;
  }

  .kirim {
    width: 100%;
    max-width: 400px;
    display: block;
    background-color: #adb0b3;
    cursor: pointer;
    box-shadow: 0 7px #606061;
    color: black;
    border-radius: 4px;
    opacity: 0.9;
  }

  .kirim:active {
    position: relative;
    top: 7px;
    box-shadow: none;
  }

  footer img {
    width: 125px;
    background-color: white;
    border-radius: 10px;
  }

  footer p {
    float: right;
    color: white;
    font-size: 15px;
    font-weight: bold;
  }

  footer {
    padding-top: 30px;
    padding-bottom: 20px;
    background-color: rgba(23, 9, 228, 1);
  }
